
    <!-- <div class="b-example-divider"></div> -->
  <header class="p-3 mb-3 border-bottom">
    <div class="container-1">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start ">

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="" [routerLink]="['/demo']" routerLinkActive="router-link-active" class="nav-link px-2 link-dark">Demo</a></li>
          <li><a href="" [routerLink]="['/']" routerLinkActive="router-link-active" class="nav-link px-2 link-dark" >Chat with Mr.Bot Demo</a></li>
        </ul>
        </div>
      </div>
  </header>
